SESS_COUNT=5
GPU_COUNT=1
CONSUMER_COUNT=1
NETWORK_SAVE_DIR=/home/monhoney/SOOOA_HOME/network
STATFILE_OUTPUT_DIR=/home/monhoney/SOOOA_HOME/stat
IMAGEUTIL_SAVE_DIR=/home/monhoney/SOOOA_HOME/output_images
COLDLOG_DIR=/home/monhoney/SOOOA_HOME/log
HOTLOG_DIR=/home/monhoney/SOOOA_HOME/log
SYSLOG_DIR=/home/monhoney/SOOOA_HOME/log
COLDLOG_LEVEL=0
BASE_DATA_DIR=/data
SLEEP_WHEN_ASSERTED=0
PLOTING_OPTION=0
